@import "tailwindcss";
@import 'tailwind-animations';

@theme {
    --color-dark: #202023;
    --color-light: #F0E7DB;
    --color-white: #EDEDEE;

    --color-gray: #8A8A8A;
    --color-gray-dark: #313134;
    --color-gray-darker: #505050;

    --color-red: #B93407;
    --color-brown: #3C1C16;
    --color-blue: #447A9C;
    --color-blue-dark: #1D3658;

    --breakpoint-*: initial;
    --breakpoint-sm: 30rem;
    --breakpoint-md: 48rem;
}

